.main{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 'name pages' 'watchers .' 'private .' 'descr descr';
    background-color: #f4f5f6;
    border-radius: 0.8rem;
    padding: 1.5rem;
    color: #000;
    gap: 1rem;
}

.name{
    grid-area: name;
    font-size: 1.2rem;
    font-weight: 600;
}

.descr{
    grid-area: descr;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.pages{
    grid-area: pages;
    img{
        width: 2rem;
        height: 2rem;
    }
}

.private{
    grid-area: private;
    display: inline;
    padding: .5rem;
    height: 2rem;
    width: 8rem;
    border-radius: .8rem;
    &_dangerous{
        background-color: red;
    }
    &_non{
        background-color: greenyellow;
    }
}

.watchers{
    grid-area: watchers;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    img{
        width: 1.6rem;
        height: 1.6rem;
    }
    p{
        font-size: 1.2rem;
    }
}